@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.rightMobile {
  position: absolute;
  right: 0px;
  padding: 10px;
}
.rightDesktop {
  position: absolute;
  top: 20px;
  right: 350px;
  padding: 10px;
}

.overlay {
  position: absolute;
  top: 14.5%;
  left: 33%;
  width: 425px;
  height: 225px;
  opacity: 0;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .overlay {
    display: none;
    opacity: 0;
  }
}